<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout2}">
<head>
    <title>Engine Details</title>
</head>
<body class="d-flex flex-column ">
<section layout:fragment="body" class="py-5">

    <!-- Responsive navbar-->

    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder"></h1>
                <p class="lead mb-0">"The engine: where power meets performance, defining the heartbeat of every drive."</p>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" th:src="${exterior.photoUrl}" alt="..."/></a>
                    <div class="card-body">
                        <div class="small text-muted"></div>
                        <h2 class="card-title" th:text="${exterior.name}">Featured Post Title</h2>
                        <p class="card-text"></p>
                        <a class="btn btn-primary"
                           th:href="@{/exteriors/{exteriorId}/delete(exteriorId=${exterior.id})}">Delete</a>
                        <a class="btn btn-primary" th:href="@{/exteriors/{exteriorId}/edit(exteriorId=${exterior.id})}">Update</a>

                    </div>
                </div>

                <!-- Pagination-->
                <nav aria-label="Pagination">
                    <hr class="my-0"/>
                    <ul class="pagination justify-content-center my-4">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a>
                        </li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                        <li class="page-item"><a class="page-link" href="#!">2</a></li>
                        <li class="page-item"><a class="page-link" href="#!">3</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                        <li class="page-item"><a class="page-link" href="#!">15</a></li>
                        <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->

                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="text" th:text="'Color: '+ ${exterior.color}">Color</div>
                            <div class="text" th:text="'Type: '+ ${exterior.type}">Type</div>
                            <div class="text" th:text="'Popularity: ' + ${exterior.markPopular}">Popularity</div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
<!--                <div class="card mb-4">-->
<!--                    <div class="card-header">Description</div>-->
<!--                    <div class="card-body" th:text="${engine.description}">-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</section>
</body>
</html>