<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org"
        layout:decorate="~{layout2}">>

<!-- Navigation-->

<!-- Header-->

<section layout:fragment="body">
    <h1>Find Nearest Manufacturer</h1>
    <form action="/manufacturers" method="get">
        <label for="userLatitude">User Latitude:</label>
        <input type="number" id="userLatitude" name="userLatitude" step="any" placeholder="Enter decimal">
        <br>
        <label for="userLongitude">User Longitude:</label>
        <input type="number" id="userLongitude" name="userLongitude" step="any" placeholder="Enter decimal">
        <br>
        <button type="submit">Find</button>
    </form>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" th:each="manufacturer : ${manufacturers} ">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" th:src="${manufacturer.photoUrl}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center" >
                            <!-- Product name-->
                            <h5 class="fw-bolder" th:text="${manufacturer.name}">Sale Item</h5>
                            <h5 class="fw-bolder" th:text="${manufacturer.country}">Sale Item</h5>
                            <h5 class="fw-bolder" th:text="${manufacturer.city}">Sale Item</h5>
                            <!-- Product price-->
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
                            <a class="btn btn-outline-dark mt-auto" th:href="@{/manufacturers/{manufacturerId}(manufacturerId=${manufacturer.id})}">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>